<%-include('../cabecalho.ejs')%>
<h1>Adicionar Laboratorio</h1>
<div style="margin-bottom: 24px">
    <a href="/Laboratorio/lst" class="btn">Listar</a>
</div>
<div>
    <form method="post" enctype="multipart/form-data">
        <label>Nome:</label>
        <input type="text" id="nome" name="nome" /><br />
        <label>Endereco:</label>
        <input type="text" name="endereco" /><br />
        <label>Email:</label>
        <input type="text" name="email" /><br />
        <label for="logo">Foto:</label>
        <input type="file" id="logo" name="logo" accept="image/png" />
        <button type="submit">Cadastrar</button>
    </form>
</div>
<%-include('../rodape.ejs')%>
